<ion-header>
    <ion-toolbar>
        <div class="box align">
            <ion-buttons slot="start">
                <ion-back-button defaultHref="tabs/tabs/tab5"></ion-back-button>
            </ion-buttons>
            <ion-title>{{ coworker.displayName }}</ion-title>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content padding #content color="secondary">
    <div *ngFor="let message of allChats">
        <ion-item style="padding-left: 15mm;" *ngIf="message.coworkerEmail == coworker.email" color="secondary">
            <ion-avatar slot="end">
                <img style="width:45px;height:45px;" [src]="userApp.photoURL"></ion-avatar>
            <ion-label floating class="my_message msgTx" [ngClass]="{'my_message':message.coworkerEmail == coworker.email, 'other_message':message.coworkerEmail == userApp.email && message.senderEmail == coworker.email}">
                <p class="line-breaker">{{ message.message }}</p>
            </ion-label>
        </ion-item>

        <ion-item style="padding-right: 15mm;" *ngIf="message.coworkerEmail == userApp.email  && message.senderEmail == coworker.email" color="secondary">
            <ion-avatar class="right">
                <img style="width:45px;height:45px;" [src]="coworker.photoURL"></ion-avatar>&nbsp;&nbsp;&nbsp;
            <ion-label class="other_message msgRx">
                <p class="line-breaker">{{ message.message }}</p>
            </ion-label>
        </ion-item>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <div class="message_row">
            <form #f2="ngForm">
                <ion-item no-lines>
                    <ion-input type="text" placeholder="Mensaje" cols="" rows="2" name="message" [(ngModel)]="chatUser.message"></ion-input>
                    <ion-item button clear color="primary" (click)="onSendMessage( f2 )" [disabled]="chatUser.message === ''">
                        <ion-icon name="send-outline"></ion-icon>
                    </ion-item>
                </ion-item>
            </form>
        </div>
    </ion-toolbar>
</ion-footer>