<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/tabs/tab5"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ coworker.name }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding #content>


    <!--  <ion-grid> -->
    <div *ngFor="let message of allChats">

        <ion-item style="padding-left: 15mm;" *ngIf="message.coworkerEmail == coworker.email">
            <!-- <span class="user_name">{{  }}:</span><br> -->
            <!-- <ion-avatar item-left="item-left">
                    <img style="width:45px;height:45px;" [src]="coworker.photo"></ion-avatar>
                <span>{{ message.message }}</span> -->
            <!--  <div class="time">{{message.createdAt | date:'dd.MM hh:MM'}}</div> -->
            <!--   <ion-item> -->
            <ion-avatar slot="end">
                <img style="width:45px;height:45px;" [src]="userApp.photo"></ion-avatar>
            <ion-label floating class="my_message" [ngClass]="{'my_message':message.coworkerEmail == coworker.email, 'other_message':message.coworkerEmail == userApp.email && message.senderEmail == coworker.email}">
                <p class="line-breaker " style="font-size: 14px; color:white">{{ message.message }}</p>
                <!-- <p>{{ item.employment }}</p> -->
            </ion-label>
        </ion-item>

        <ion-item style="padding-right: 15mm;" *ngIf="message.coworkerEmail == userApp.email  && message.senderEmail == coworker.email">
            <!-- <span class="user_name">{{  }}:</span><br> -->
            <!-- <ion-avatar item-left="item-left">
                    <img style="width:45px;height:45px;" [src]="coworker.photo"></ion-avatar>
                <span>{{ message.message }}</span> -->
            <!--  <div class="time">{{message.createdAt | date:'dd.MM hh:MM'}}</div> -->
            <!--   <ion-item> -->
            <ion-avatar class="right">
                <img style="width:45px;height:45px;" [src]="coworker.photo"></ion-avatar>&nbsp;&nbsp;&nbsp;
            <ion-label class="other_message">
                <p class="line-breaker " style="font-size: 14px; color:black">{{ message.message }}</p>
                <!-- <p>{{ item.employment }}</p> -->
            </ion-label>
        </ion-item>
        <!--     </ion-col> -->

        <!--   <ion-col offset-3 col-9 *ngIf="message.from === nickname" class="message" [ngClass]="{'my_message': message.from === nickname, 'other_message': message.from !== nickname}">
            <span class="user_name">{{ message.from }}:</span><br>
            <span>{{ message.text }}</span>
            <div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
          </ion-col> -->

    </div>
    <!--   </ion-grid> -->

</ion-content>

<!-- <ion-footer no-border>
    <div class="input-wrap">
        <textarea #chat_input placeholder="Text Input" [(ngModel)]="editorMsg" (keyup.enter)="sendMsg()" (focusin)="onFocus()">
      </textarea>
        <button ion-button clear icon-only item-right (click)="sendMsg()">
        <ion-icon name="send-outline"></ion-icon>
      </button>
    </div>
</ion-footer> -->
<ion-footer>
    <ion-toolbar>
        <div class="message_row">
            <form #f2="ngForm">
                <ion-item no-lines>
                    <ion-input type="text" placeholder="Mensaje" cols="" rows="2" name="message" [(ngModel)]="chatUser.message"></ion-input>
                    <ion-item button clear color="primary" (click)="onSendMessage( f2 )" [disabled]="chatUser.message === ''">
                        <ion-icon name="send-outline"></ion-icon>
                    </ion-item>
                </ion-item>
            </form>
        </div>
    </ion-toolbar>
</ion-footer>