<ion-header traslucent>
    <ion-toolbar>
        <div class="box align">
            <ion-title>EVIDENCIA</ion-title>
            <ion-buttons slot="end">
                <ion-button color="primary" (click)="onClose()">
                    <ion-icon name="close"></ion-icon>
                </ion-button>
            </ion-buttons>
        </div>
    </ion-toolbar>
    <ion-toolbar color="secondary">
    <ion-segment value="all" color="primary" scrollable="false" mode="android" [(ngModel)]="segmentModel" (ionChange)="segmentChanged($event)">

        <ion-segment-button value="select" style="font-size: 10.5px; color:white">
            <ion-label>Archivos</ion-label>
        </ion-segment-button>

        <ion-segment-button value="view" style="font-size: 10.5px; color:white">
            <ion-label>Observaciones</ion-label>
        </ion-segment-button>

        <ion-segment-button value="perProject" style="font-size: 10.5px; color:white">
            <ion-label>Avance</ion-label>
        </ion-segment-button>

    </ion-segment>
</ion-toolbar>
</ion-header>

<ion-content color="secondary">
    <!-- <div class="container">
        <h5>{{task.name}}</h5>
        <br>
        <div *ngFor="let item of evidences">
            <ion-card>
                <img [src]="item.url" alt="">
                <ion-card-content>
                    <p>Nombre: {{item.fileName}}</p>
                    <p>Fecha de entrega: {{item.createdAt | date : "dd/MM/y"}}</p>
                </ion-card-content>
                <div class="test">
                    <ion-button color="primary" (click)="downloadFile(item.url)">
                        <ion-icon name="arrow-down-outline"></ion-icon>
                    </ion-button>
                </div>
            </ion-card>
            <br>
        </div>

    </div> -->

    <div style="padding: 5px;" color="dark" *ngIf="segmentModel === 'select'">
        <!-- <div *ngIf="userGugo.manager == true; else delegate">
            <div *ngIf="!teamGugo.manager"> -->
                <h6>{{task.name}}</h6>
                <div class="container">
                    <ion-card class="container1" >
                        <div class="test">
                            <ion-button (click)="downloadFile(item.url)">
                                <ion-icon name="arrow-down-outline"></ion-icon>
                            </ion-button>
                        </div>
                        <img style="height: 150px; width: 150px;" src="../../../assets/img/pdf.png" alt="">
                        <ion-card-content>
                            <p>Nombre: Evidencia1</p>
                            <p>Fecha de entrega: 23/11/2020</p>
                        </ion-card-content>
                        
                    </ion-card>
                </div>
                <br>
                <div class="container">
                    <ion-card class="container1" >
                        <div class="test">
                            <ion-button (click)="downloadFile(item.url)">
                                <ion-icon name="arrow-down-outline"></ion-icon>
                            </ion-button>
                        </div>
                        <img style="height: 150px; width: 150px;" src="../../../assets/img/pdf.png" alt="">
                        <ion-card-content>
                            <p>Nombre: Evidencia1</p>
                            <p>Fecha de entrega: 23/11/2020</p>
                        </ion-card-content>
                        
                    </ion-card>
                </div>
            <!-- </div>
            <br>
        </div> -->
    </div>
    <div style="padding: 15px;" color="dark" *ngIf="segmentModel === 'view'">
       <div *ngFor="let num of [1,2,3,4]">
        <div class="container3">
            <div class="align2">
                <p>Usuario</p>
                <p>20/11/2020</p>
            </div>
            <div class="align align3">
                <ion-avatar>
                    <img src="" alt="">
                </ion-avatar>
                <p>Observación {{num}}</p>
            </div>
            
        </div>
       </div>
        <ion-footer >
            <ion-toolbar>
                <div class="message_row">
                    <form #f2="ngForm">
                        <ion-item no-lines>
                            <ion-input type="text" placeholder="Mensaje" cols="" rows="2" name="message"></ion-input>
                            <ion-item button clear color="primary">
                                <ion-icon name="send-outline"></ion-icon>
                            </ion-item>
                        </ion-item>
                    </form>
                </div>
            </ion-toolbar>
        </ion-footer>
    </div>
    <div style="text-align: center;" color="dark" *ngIf="segmentModel === 'perProject'">
        <!-- <div *ngIf="userGugo.manager == true; else delegate">
            <div *ngIf="!teamGugo.manager"> -->
                <br>
                <div class="container2">
                    n% Progreso
                </div>
                <h6>Evidencia correcta</h6> 
                <button class="confirmar">
                    Confirmar progreso
                </button> 
                <h6>Corregir progreso</h6> 
                <div class="align corregir">
                    <ion-input type="text" placeholder="Ingrese el porcentaje" cols="" rows="2" name="message" style="background-color: white; width: 50%;color: black;" ></ion-input>
                    <ion-item button clear color="primary" (click)="onSendMessage( f2 )">
                        <ion-icon name="send-outline"></ion-icon>
                    </ion-item>
                </div>
                
            <!-- </div>
            <br>
        </div> -->
        
    </div>
</ion-content>