<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-row>
            <img src="../../assets/img/Escudo_de_la_Escuela_Politécnica_Nacional.png" style="width: 46px; height: 60px; padding-top: 18px;" alt="">
            <div>
                <p style="font-size: 14px; color: white">CHAT</p>
                <p style="font-size: 10px; color: white">GUGO-MOBILE - Version Gestor</p>
            </div>
        </ion-row>
        <ion-buttons slot="end" (click)="openProfile()">
            <ion-button style="width: 85px;">
                <ion-badge id="notifications-badge" color="primary">25</ion-badge>
                <ion-icon name="notifications"></ion-icon>
            </ion-button>
            <ion-button id="notification-button1">
                <ion-avatar id="notification-button1">
                    <img [src]="userGugo.photoURL">
                </ion-avatar>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
    <div class="container">
        <div *ngIf="userGugo.manager == true; else delegate">
            <!-- <ion-list-header color="light">TUS MENSAJES</ion-list-header> -->
            <ion-list>
                <div *ngFor="let item of delegatesAux1">
                    <div class="align1" color="dark" button (click)="goChat(userGugo.uid,item.uid,item.displayName,item.email,item.photoURL)">
                        <div class="part1">
                            <ion-avatar item-left="item-left">
                                <img style="width:45px;height:45px;" [src]="item.photoURL">
                            </ion-avatar>
                        </div>
                        <div class="align2 part2">
                            <ion-label class="style1">{{ item.displayName }}</ion-label>
                            <ion-label class="style2">{{ item.phoneNumber }}</ion-label>
                            <ion-label class="style2">{{ item.employment }}</ion-label>
                        </div>
                    </div>
                </div>
            </ion-list>

            <br>
            <br>
        </div>
    </div>
</ion-content>

<ng-template #delegate>
    <p>delegado</p>
</ng-template>