<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Chat
        </ion-title>
        <ion-buttons slot="end">
            <ion-button id="notification-button">
                <ion-badge id="notifications-badge" color="primary">5</ion-badge>
                <ion-icon name="notifications"></ion-icon>
            </ion-button>
            <ion-button id="notification-button1">
                <ion-avatar id="notification-button1">
                    <img [src]="userGugo.photo">
                </ion-avatar>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list-header color="light">
        TUS MENSAJES
    </ion-list-header>
    <ion-list>
        <div *ngFor="let item of delegatesAux1">
            <ion-item button (click)="goChat(userGugo.id,item.id,item.name,item.email,item.photo)">
                <ion-avatar item-left="item-left">
                    <img style="width:45px;height:45px;" [src]="item.photo"></ion-avatar>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <ion-label>
                    <br>
                    <h2>{{ item.name }}</h2>
                    <p>{{ item.employment }}</p>
                    <br>
                </ion-label>
            </ion-item>
        </div>
    </ion-list>
</ion-content>