<ion-header>
    <ion-toolbar>
        <div class="box align">
            <ion-buttons slot="start">
                <ion-back-button defaultHref="tabs/tabs/tab4"></ion-back-button>
            </ion-buttons>
            <ion-title>Detalles</ion-title>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content padding color="secondary">
    <!-- <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 4</ion-title>
        </ion-toolbar>
    </ion-header> -->
    <div class="container">
        <h1>Visualizacion de tareas</h1>
        <ion-card color="dark">
            <ion-card-header>
                <ion-button (click)="setLandscape()">
                    <ion-icon slot="icon-only" name="phone-landscape-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="setPortrait()">
                    <ion-icon slot="icon-only" name="phone-portrait-outline"></ion-icon>
                </ion-button>
            </ion-card-header>
            <ion-card-content>
                <div *ngIf="post == true && dataT.length > 0" class="scrolling-box">
                    <google-chart [data]="timelineChartData"></google-chart>
                </div>
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>