* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box {
    /* background: #082330; */
    background: #0C1B22;
    padding: 10px;
    color: white;
}

.align {
    display: flex;
    flex-direction: row;
}

.box ion-title {
    text-align: center;
    letter-spacing: 10px;
    font-size: 25px;
    font-weight: bold;
}

.container {
    padding: 20px;
}

.test {
    float: right;
}