* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ion-content ion-toolbar {
    --background: translucent;
}

.box {
    /* background: #082330; */
    background: #0C1B22;
    padding: 10px;
    color: white;
}

.align {
    display: flex;
    flex-direction: row;
}

.scrolling-box {
    overflow-x: scroll;
    height: 300px;
}

#notification-button {
    position: relative;
    width: 42px;
    top: 1px;
    right: 1px;
    overflow: visible!important;
}

#notification-button1 {
    position: relative;
    width: 60px;
    height: 40px;
    top: 0.5px;
}

#notifications-badge {
    background-color: blue($color: #000000);
    position: absolute;
    top: 0px;
    right: -4px;
    border-radius: 100%;
}

.background {
    background: #082330;
    padding: 10px;
}

ion-item-sliding {
    background: #082330;
}

ion-card {
    background: #082330;
}

.container p {
    color: rgb(212, 212, 212);
    font-size: 14px;
}

.container h2 {
    color: #5c92b1;
    text-align: center;
    text-transform: lowercase;
}

.container h2::first-letter {
    text-transform: uppercase;
}