<ion-header [translucent]="false">
    <ion-toolbar>
        <ion-row>
            <img src="../../assets/img/gg.jpg" style="width: 40px; height: 55px; padding-top: 18px;" alt="">
            <div>
                <p style="font-size: 14px; color: white">MI EQUIPO </p>
                <p style="font-size: 10px; color: white">GUGO-MOBILE - Version Delegado</p>
            </div>
        </ion-row>
        <ion-buttons slot="end">
            <ion-button style="width: 85px;">
                <ion-badge id="notifications-badge" color="primary"></ion-badge>
                <ion-icon name="notifications"></ion-icon>
            </ion-button>
            <ion-button id="notification-button1" (click)="openProfile()">
                <ion-avatar id="notification-button1">
                    <img [src]="userGugo.photoURL">
                </ion-avatar>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-segment [value]="segmentModel" color="primary" scrollable="false" mode="md" [(ngModel)]="segmentModel" (ionChange)="segmentChanged($event)">

        <ion-segment-button value="select" *ngIf="userGugo.manager == true" style="font-size: 10.5px; color:white">
            <ion-label>Seleccionar Equipo
            </ion-label>
        </ion-segment-button>

        <ion-segment-button value="view" style="font-size: 10.5px; color:white">
            <ion-label>Ver Equipo</ion-label>
        </ion-segment-button>

        <ion-segment-button value="perProject" style="font-size: 10.5px; color:white">
            <ion-label>Ver Equipo por proyecto</ion-label>
        </ion-segment-button>

    </ion-segment>

</ion-header>


<ion-content [fullscreen]="true" color="secondary">
    <div class="container" *ngIf="segmentModel === 'select'">
        <div *ngIf="userGugo.manager == true; else delegate">
            <div *ngIf="!teamGugo.manager">
                <div class="container" *ngIf="usersGugo.length > 0; else noDelegatesToAdd">
                    <ion-list>
                        <ion-item color="dark" button *ngFor="let item of usersGugo">
                            <ion-avatar item-left="item-left">
                                <img style="width:45px;height:45px;" [src]="item.photoURL"></ion-avatar>
                            <ion-label class="container1">
                                <h2>{{ item.displayName }}</h2>
                                <p style="font-size: 12px; color:white;">{{item.email}}</p>
                                <p style="color: white;">{{ item.phoneNumber }}</p>
                            </ion-label>
                            <ion-checkbox item-end="item-end" [(ngModel)]="item.check" (ionChange)="onChange(usersGugo)"></ion-checkbox>
                        </ion-item>
                    </ion-list>
                    <ion-row style="height: 10mm"></ion-row>
                    <button class="btnAddTeam" expand="block" (click)="addNewTeam()">Agregar a mi equipo</button>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="container" *ngIf="segmentModel === 'view'">
        <div *ngIf="userGugo.manager == true; else delegate">
            <div *ngIf="!teamGugo.manager">
                <div class="container">
                    <ion-list>
                        <p style="font-size: xx-small; color: tomato;">Desliza hacia la izquierda para eliminar el delegado de tu equipo</p>
                        <ion-item-sliding *ngFor="let item of teamGugo.delegates">
                            <ion-item color="dark" tappable>
                                <ion-avatar item-left="item-left">
                                    <img style="width:45px;height:45px;" [src]="item.photoURL"></ion-avatar>
                                <ion-label class="container1">
                                    <h2>{{ item.displayName }}</h2>
                                    <p style="font-size: 12px;">{{item.email}}</p>
                                    <p>{{ item.phoneNumber }}</p>
                                </ion-label>
                            </ion-item>
                            <ion-item-options>
                                <ion-button color="danger" icon-left>
                                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                                </ion-button>
                            </ion-item-options>
                        </ion-item-sliding>
                    </ion-list>
                    <ion-row style="height: 10mm"></ion-row>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="container" *ngIf="segmentModel === 'perProject'">
        <div *ngIf="projectsTeam.length > 0; else noProjects">
            <ion-list>
                <ion-card color='dark' tappable *ngFor="let project of projectsTeam; let i = index">
                    <ion-card-header>
                        <ion-label class="container">
                            <h2 style="text-transform: uppercase; color: blanchedalmond;">{{project.name}}</h2>
                            <div>
                                <div style="text-align: end;">
                                    <p style="text-align: center; font-size: smaller; color: tomato;">Recursos: {{project.resources}}</p>
                                    <p style="text-align: center; font-size: smaller; color: olive;">Comentarios: {{project.comments}}</p>
                                    <ion-button color="primary" icon-left (click)="openResources(project)">
                                        <ion-icon slot="end" name="eye"></ion-icon>
                                    </ion-button>
                                </div>
                            </div>
                        </ion-label>
                    </ion-card-header>

                    <ion-card-content>
                        <p style="color: sienna; font-size: smaller;">Delegados:</p>
                        <br>
                        <div *ngIf="project.delegates.length > 0; else noDelegates">
                            <ion-row>
                                <ion-avatar *ngFor="let user of project.delegates">
                                    <img [src]="user.photoURL" style="max-width:2.5rem;max-height:2.5rem;">
                                    <br>
                                    <ion-label style="font-size: 6px; color: white">
                                        {{user.displayName}}
                                    </ion-label>
                                </ion-avatar>
                            </ion-row>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-list>
        </div>
    </div>
</ion-content>

<ng-template #delegate>
    <div *ngIf="managers.length > 0; else noTeam">
        <div *ngIf="managers.length > 0">
            <ion-list-header class="title1">
                <ion-label>Tus gestores de proyecto</ion-label>
            </ion-list-header>
            <ion-list>
                <div *ngFor="let manager of managers">
                    <ion-item color="dark" button>
                        <div class="part1">
                            <ion-avatar item-left="item-left">
                                <img style="width:35px;height:35px;" [src]="manager.photoURL">
                            </ion-avatar>
                        </div>
                        <div class="align2 part2">
                            <ion-label class="style1">{{ manager.displayName }}</ion-label>
                            <ion-label class="style2">{{ manager.email }}</ion-label>
                            <ion-label class="style3">{{ manager.phoneNumber }}</ion-label>
                        </div>
                    </ion-item>
                </div>
            </ion-list>
        </div>
        <br>
        <div class="center">
            <ion-list-header class="title1" style="align-items: center;">
                <ion-label> Tus compañeros de proyectos</ion-label>
            </ion-list-header>
            <div *ngIf="partnersAll.length == 0">
                <p style="color: white;">Aún no tienes compañeros </p>
            </div>
        </div>
        <ion-list>
            <div *ngFor="let partner of partnersAll">
                <ion-item color="dark" button>
                    <div class="part1">
                        <ion-avatar item-left="item-left">
                            <img style="width:35px;height:35px;" [src]="partner.photoURL">
                        </ion-avatar>
                    </div>
                    <div class="align2 part2">
                        <ion-label class="style1">{{ partner.displayName }}</ion-label>
                        <ion-label class="style2">{{ partner.email}}</ion-label>
                        <ion-label class="style3">{{ partner.phoneNumber }}</ion-label>
                        <ion-label class="style3">{{ partner.employment }}</ion-label>
                    </div>
                </ion-item>
            </div>
        </ion-list>
    </div>
</ng-template>

<ng-template #noTeam>
    <br>
    <div class="empty">
        <h4 class="style4">No existe registro !!!</h4><br>
        <h6 class="style5">Usted aun no ha sido asignado a ningun equipo</h6><br>
        <p class="style5">Muy pronto será asignado a uno</p>
    </div>
</ng-template>

<ng-template #noProjects>
    <br>
    <div class="empty">
        <h4 class="style4">No existen proyectos</h4><br>
        <h6 class="style5">Usted aun no ha sido asignado a algun proyecto</h6><br>
        <p class="style5">Muy pronto será asignado a uno</p>
    </div>
</ng-template>

<ng-template #noDelegates>
    <br>
    <div class="empty">
        <h4 class="style4">No existen delegados aun</h4><br>
    </div>
</ng-template>


<ng-template #noDelegatesToAdd>
    <br>
    <div class="empty">
        <h4 class="style4">No hay delegados para agregar al equipo</h4><br>
    </div>
</ng-template>