<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Mi Equipo
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 2</ion-title>
        </ion-toolbar>
    </ion-header>
    <div>
        <ion-list>
            <ion-item *ngFor="let item of usersGugo">
                <ion-avatar item-left="item-left">
                    <img style="width:55px;height:55px;" [src]="item.photo"></ion-avatar>
                <ion-label>
                    {{item.name}}</ion-label>
                <ion-checkbox item-end="item-end" [(ngModel)]="item.check" (ionChange)="onChange(usersGugo)"></ion-checkbox>
            </ion-item>
        </ion-list>
    </div>

</ion-content>