<ion-header [translucent]="false">
    <ion-toolbar>
        <div class="box align">
            <ion-title>Mi Equipo</ion-title>
            <div class="align4">
                <p>Versión Móvil</p>
                <p class="rol">Gestor</p>
            </div>
            <ion-buttons slot="end">
                <ion-button id="notification-button">
                    <ion-badge id="notifications-badge" color="primary">5</ion-badge>
                    <ion-icon name="notifications"></ion-icon>
                </ion-button>
                <ion-button id="notification-button1">
                    <ion-avatar id="notification-button1">
                        <img [src]="userGugo.photoURL">
                    </ion-avatar>
                </ion-button>
            </ion-buttons>
        </div>
    </ion-toolbar>
    <!-- <ion-toolbar color="secondary"> -->

        <ion-segment value="all" color="primary" scrollable="false" mode="android" [(ngModel)]="segmentModel" (ionChange)="segmentChanged($event)">

            <ion-segment-button value="select" style="font-size: 10.5px; color:white">
                <ion-label>Seleccionar Equipo
                </ion-label>
            </ion-segment-button>

            <ion-segment-button value="view" style="font-size: 10.5px; color:white">
                <ion-label>Ver Equipo</ion-label>
            </ion-segment-button>

            <ion-segment-button value="perProject" style="font-size: 10.5px; color:white">
                <ion-label>Ver Equipo por proyecto</ion-label>
            </ion-segment-button>

        </ion-segment>

   <!--  </ion-toolbar> -->

</ion-header>


<ion-content [fullscreen]="true" color="secondary">
    <div class="container" *ngIf="segmentModel === 'select'">
        <div *ngIf="userGugo.manager == true; else delegate">
            <div *ngIf="!teamGugo.manager">
                <div class="container">
                    <ion-list>
                        <ion-item color="dark" button *ngFor="let item of usersGugo">
                            <ion-avatar item-left="item-left">
                                <img style="width:45px;height:45px;" [src]="item.photoURL"></ion-avatar>
                            <ion-label class="container1">
                                <h2>{{ item.displayName }}</h2>
                                <p style="font-size: 12px;">{{item.email}}</p>
                                <p>{{ item.phoneNumber }}</p>
                            </ion-label>
                            <ion-checkbox item-end="item-end" [(ngModel)]="item.check" (ionChange)="onChange(usersGugo)"></ion-checkbox>
                        </ion-item>
                    </ion-list>
                    <ion-row style="height: 10mm"></ion-row>
                    <button class="btnAddTeam" expand="block" (click)="addNewTeam()">Agregar a mi equipo</button>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="container" *ngIf="segmentModel === 'view'">
        <div *ngIf="userGugo.manager == true; else delegate">
            <div *ngIf="!teamGugo.manager">
                <div class="container">
                    <ion-list>
                        <ion-item-sliding *ngFor="let item of teamGugo.delegates">
                            <ion-item color="dark" tappable>
                                <ion-avatar item-left="item-left">
                                    <img style="width:45px;height:45px;" [src]="item.photoURL"></ion-avatar>
                                <ion-label class="container1">
                                    <h2>{{ item.displayName }}</h2>
                                    <p style="font-size: 12px;">{{item.email}}</p>
                                    <p>{{ item.phoneNumber }}</p>
                                </ion-label>
                                <!-- <ion-checkbox item-end="item-end" [(ngModel)]="item.check" (ionChange)="onChange(usersGugo)"></ion-checkbox> -->
                            </ion-item>
                            <ion-item-options>
                                <ion-button color="danger" icon-left>
                                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                                </ion-button>
                            </ion-item-options>
                        </ion-item-sliding>
                    </ion-list>
                    <ion-row style="height: 10mm"></ion-row>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="container" *ngIf="segmentModel === 'perProject'">
        <div *ngIf="userGugo.manager == true; else delegate">
            <div *ngIf="!teamGugo.manager">
                <ion-list class="container2" >
                    <div  color="dark"  *ngFor="let project of projectsTeam; let i = index">
                        <ion-icon style="font-size: 25px; text-align: right;" slot="icon-only" name="eye"></ion-icon>
                        <ion-label><h2>{{project.name}}</h2></ion-label>
                        <!-- <ion-item style="margin: 0 auto;" color='dark' tappable> -->
                            <ion-item color="dark" class="aling item" *ngFor="let delegate of project.delegates">
                                <!-- <ion-label class="aling" *ngFor="let delegate of project.delegates"> -->
                                    <!-- <div> -->
                                        <ion-avatar>
                                            <img [src]="delegate.photoURL" alt="hola" style="width:45px;height:45px;"/>
                                        </ion-avatar> &nbsp;&nbsp;&nbsp;&nbsp;
                                   <!--  </div> -->
                                    <ion-label style="font-size: 12px;">{{delegate.displayName}}</ion-label>
                                <!-- </ion-label> -->
                                <!-- </ion-item> -->
                                <!-- </div> -->
                            </ion-item>
                            
                        <!-- </ion-item> -->
                        <!-- <ion-item-options>
                            <ion-button color="primary" icon-left>
                                <ion-icon slot="icon-only" name="create"></ion-icon>
                            </ion-button>
                            <ion-button color="danger" icon-left>
                                <ion-icon slot="icon-only" name="trash"></ion-icon>
                            </ion-button>
                        </ion-item-options> -->
                    </div>
                </ion-list>
                <ion-row style="height: 10mm"></ion-row>
            </div>
            <br>
        </div>
    </div>
</ion-content>

<ng-template #delegate>

    <div *ngIf="userGugo.manager == false; else noTeam">
        <ion-list-header class="title1">
            <ion-label>Tus gestores de proyecto</ion-label>
        </ion-list-header>
        <ion-list>
            <div *ngFor="let item of delegatesAux1">
                <ion-item color="dark" button *ngIf="item.manager == true">
                    <div class="part1">
                        <ion-avatar *ngIf="item.manager == true" item-left="item-left">
                            <img style="width:35px;height:35px;" [src]="item.photoURL">
                        </ion-avatar>
                    </div>
                    <div class="align2 part2">
                        <ion-label class="style1" *ngIf="item.manager == true">{{ item.displayName }}</ion-label>
                        <ion-label class="style2">{{item.email}}</ion-label>
                        <ion-label class="style3" *ngIf="item.manager == true">{{ item.phoneNumber }}</ion-label>
                        <!-- <ion-label class="style3" *ngIf="item.manager == true">{{ item.employment }}</ion-label> -->
                    </div>
                </ion-item>
            </div>
        </ion-list>
        <br>
        <div class="center">
            <ion-list-header class="title1" style="align-items: center;">
                <ion-label> Tus compañeros de proyectos</ion-label>
            </ion-list-header>
        </div>
        <ion-list>
            <div *ngFor="let item of delegatesAux1">
                <ion-item color="dark" button *ngIf="item.manager != true">
                    <div class="part1">
                        <ion-avatar *ngIf="item.manager != true" item-left="item-left">
                            <img style="width:45px;height:45px;" [src]="item.photoURL">
                        </ion-avatar>
                    </div>
                    <div class="align2 part2">
                        <ion-label class="style1" *ngIf="item.manager != true">{{ item.displayName }}</ion-label>
                        <ion-label class="style2" class="style2">{{item.email}}</ion-label>
                        <ion-label class="style3" *ngIf="item.manager != true">{{ item.phoneNumber }}</ion-label>
                        <ion-label class="style3" *ngIf="item.manager != true">{{ item.employment }}</ion-label>
                    </div>
                </ion-item>
            </div>
        </ion-list>
    </div>

    <ng-template #noTeam>
        <br>
        <div class="empty">
            <h4 class="style4">No existe registro !!!</h4><br>
            <h6 class="style5">Usted aun no ha sido asignado a ningun equipo</h6><br>
            <p class="style5">Muy pronto será asignado a uno</p>
        </div>
    </ng-template>

</ng-template>