@font-face {
    font-family: Channel;
    src: url(../../assets/fuente/Channel.ttf);
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ion-content ion-toolbar {
    --background: translucent;
}

.box {
    /* background: #082330; */
    background: #0C1B22;
    padding: 10px;
    color: white;
}

.align {
    display: flex;
    flex-direction: row;
}

#notification-button {
    position: relative;
    width: 42px;
    top: 1px;
    right: 1px;
    overflow: visible!important;
}

#notification-button1 {
    position: relative;
    width: 60px;
    height: 40px;
    top: 0.5px;
    border-radius: 100%;
}

#notifications-badge {
    background-color: blue($color: #000000);
    position: absolute;
    top: 0px;
    right: 3px;
    border-radius: 100%;
}

.title {
    color: white;
    border-bottom: 1px solid white;
    width: 100%;
    font-size: 20px;
}

.align1 {
    display: flex;
    flex-direction: row;
    padding: 15px 5px;
    /* background: #0C1B22; */
    background: rgb(42, 49, 61);
    color: #D4D4D4;
    /*  border: 0.25px solid white; */
    width: 100%;
    margin: 0 auto;
}

.align2 {
    display: flex;
    flex-direction: column;
}

.part1 {
    width: 20%;
    text-align: center;
}

.part2 {
    width: 80%;
    text-align: center;
    border-bottom: 0.25px solid white;
}

.style1 {
    color: #17b4b4;
    font-size: 18px;
}

.style2 {
    color: #5c92b1;
    font-size: 14px;
}

.style3 {
    color: rgb(212, 212, 212);
    font-size: 14px;
}

.style4 {
    color: #5c92b1;
    font-size: 26px;
    font-weight: bolder;
}

.style5 {
    color: white;
    font-size: 18px;
}

.btnAddTeam {
    background: rgb(212, 212, 212);
    color: black;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.container {
    padding: 0.5px;
}

ion-list {
    background: #082330;
    width: 100%;
    margin: 0 auto;
}

ion-header ion-segment {
    --background: #082330;
}

.title1 {
    background: #d4d4d4;
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
}

.empty {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    background: rgb(42, 49, 61);
    color: white;
    margin: 0px auto;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box {
    /* background: #082330; */
    background: #0C1B22;
    padding: 10px;
    color: white;
}

.align {
    display: flex;
    flex-direction: row;
}

.container {
    padding: 20px;
}

ion-list {
    background: #082330;
    width: 100%;
    margin: 0 auto;
}

ion-item {
    border: 0.5px solid black;
}

.container1 {
    text-align: center;
}

.container1 h2 {
    color: #5c92b1;
    font-size: 18px;
}

.container1 p {
    color: rgb(212, 212, 212);
    font-size: 14px;
}

.btnAddUser {
    background: rgb(212, 212, 212);
    color: black;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

ion-infinite-scroll[scrollX] {
    white-space: nowrap;
    height: 120px;
    overflow: hidden;
    .scroll-item {
        display: inline-block;
    }
    .selectable-icon {
        margin: 10px 20px 10px 20px;
        color: red;
        font-size: 100px;
    }
    ion-avatar img {
        margin: 10px;
    }
}

ion-infinite-scroll[scroll-avatar] {
    height: 60px;
}


/* Hide ion-content scrollbar */

 ::-webkit-scrollbar {
    display: none;
}

.align4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    // margin-left: -10px;
}

.rol {
    margin-top: -15px;
}

.container2 {
    border: 1px solid black;
    background-color: #0C1B22;
    /*  background: rgb(42, 49, 61); */
    text-align: center;
    padding: 10px;
}

.item {
    border: none;
    align-items: center;
    justify-content: space-between;
}

ion-toolbar {
    --background: #000707;
}

ion-title {
    color: white;
    font-size: 30px;
}

ion-icon {
    color: white;
    font-size: 30px;
}