@font-face {
    font-family: Channel;
    src: url(../../assets/fuente/Channel.ttf);
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ion-content ion-toolbar {
    --background: translucent;
}

.box {
    /* background: #082330; */
    background: #0C1B22;
    padding: 10px;
    color: white;
}

.state {
    width: 120px;
    height: 25px;
    border: 1px solid black;
    background-color: rgb(255, 0, 0);
    color: black;
    align-items: center;
}

.state2 {
    width: 120px;
    height: 25px;
    border: 1px solid black;
    background-color: rgb(50, 205, 50);
    color: black;
    align-content: center;
    text-align: center;
    padding-left: 10px;
}

.state3 {
    width: 120px;
    height: 25px;
    border: 1px solid black;
    background-color: rgb(128, 128, 128);
    color: black;
    align-items: center;
}

.align {
    display: flex;
    flex-direction: row;
}

.gugo {
    font-family: Channel;
    font-size: 20px;
}

.welcome-card img {
    /* max-height: 35vh; */
    overflow: hidden;
}

#notification-button {
    position: relative;
    width: 42px;
    top: 1px;
    right: 1px;
    overflow: visible!important;
}

#notification-button1 {
    position: relative;
    width: 60px;
    height: 40px;
    top: 0.5px;
    border-radius: 100%;
}

#notifications-badge {
    background-color: blue($color: #000000);
    position: absolute;
    top: 0px;
    right: 3px;
    border-radius: 100%;
}


/* .main {
    height: 100%;
} */

.title {
    color: white;
    border-bottom: 1px solid white;
    width: 100%;
    font-size: 20px;
}

.view1 {
    width: 70%;
    border: 1px solid black;
    padding: 10px;
    background: rgb(12, 27, 34);
    align-items: center;
    color: white;
    margin: 0 auto;
}

.view2 {
    width: 80%;
    border: 1px solid black;
    padding: 10px;
    background: rgb(12, 27, 34);
    align-items: center;
    color: white;
    margin: 0 auto;
}

.align4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    // margin-left: -10px;
}

.rol {
    margin-top: -15px;
}

ion-card-title {
    text-align: center;
}

.container1 {
    align-items: center;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    background: rgb(247, 160, 120);
}

.align2 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
}

ion-toolbar {
    --background: #000707;
}

ion-title {
    color: white;
    font-size: 30px;
}

ion-icon {
    color: white;
    font-size: 30px;
}