<ion-header [translucent]="true">
    <ion-toolbar>
        <div class="box align">
            <ion-title>Proyectos</ion-title>
            <div class="align4">
                <p>Versión Móvil</p>
                <p class="rol">Gestor</p>
            </div>
            <ion-buttons slot="end">
                <ion-button id="notification-button">
                    <ion-badge id="notifications-badge" color="primary">5</ion-badge>
                    <ion-icon name="notifications"></ion-icon>
                </ion-button>
                <ion-button id="notification-button1">
                    <ion-avatar id="notification-button1">
                        <img [src]="userApp.photoURL">
                    </ion-avatar>
                </ion-button>
            </ion-buttons>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
    <!-- <div class="background"> -->
    <!-- <ion-list-header class="title">Proyectos</ion-list-header> -->
    <div class="container1">
        <div *ngIf=" userApp.manager == true ; else delegate">
            <ion-list>
                <ion-item-sliding *ngFor="let project of projectsApp; let i = index">
                    <ion-item class="container" color='dark' tappable (click)="projectRoute(project.id)">
                        <ion-icon slot="start" name="clipboard"></ion-icon>
                        <ion-icon slot="end" name="arrow-forward"></ion-icon>
                        <ion-label class="container">
                            <h2>{{project.name}}</h2>
                            <p style="color: rgb(253, 220, 201);">Cliente: {{ project.client }}</p>
                            <p>Fecha de inicio: {{project.startDate | date : "dd/MM/y"}}</p>
                            <p>Fecha de fin: {{project.endDate | date : "dd/MM/y"}}</p>
                        </ion-label>
                    </ion-item>
                    <ion-item-options>
                        <ion-button color="primary" icon-left (click)="editProject(project)">
                            <ion-icon slot="icon-only" name="create"></ion-icon>
                        </ion-button>
                        <ion-button color="danger" icon-left (click)="deleteProject(project.id)">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
            <ion-row style="height: 1mm"></ion-row>
            <button class="btnNewProject" expand="block" (click)="openNewProject()">Nuevo proyecto</button>
        </div>
    </div>
    <!--  </div> -->
</ion-content>

<ng-template #delegate>
    <p>delegado</p>
    <ion-list>
        <ion-item-sliding *ngFor="let project of projectsApp; let i = index">
            <ion-item class="container" color='dark' tappable>
                <!-- <ion-icon slot="start" name="clipboard"></ion-icon> -->
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
                <div class="align3">
                    <div class="align container3">
                        <ion-avatar id="notification-button1">
                            <img style="width:45px;height:45px;" [src]="userApp.photoURL">
                        </ion-avatar>
                        <h2>{{project.name}}</h2>
                    </div>

                    <ion-label class="container2">
                        <p>Fecha de inicio: {{allstartdates[i] | date : "dd/MM/y"}}</p>
                        <p>Fecha de fin: {{allenddates[i] | date : "dd/MM/y"}}</p>
                        <p>Actividad: {{ project.client }}</p>
                        <p>Proyecto: {{ project.client }}</p>
                        <p>%Avance: {{project.progress}} </p>
                    </ion-label>
                    <ion-input type="number" placeholder="Ingrese % de Avance"></ion-input>
                </div>
                <br>
            </ion-item>
            <ion-item-options>
                <ion-button color="primary" icon-left (click)="openEvidence(project.name)">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-button>
                <!-- <ion-button color="danger" icon-left>
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button> -->

                <!-- <ion-label class="container2">
                    <p>Actividad: {{ project.client }}</p>
                    <p>Proyecto: {{ project.client }}</p>
                </ion-label> -->
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ng-template>