<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-row>
            <img src="../../assets/img/Escudo_de_la_Escuela_Politécnica_Nacional.png" style="width: 46px; height: 60px; padding-top: 18px;" alt="">
            <div>
                <p style="font-size: 14px; color: white">PROYECTOS</p>
                <p style="font-size: 10px; color: white">GUGO-MOBILE - Version Gestor</p>
            </div>
        </ion-row>
        <ion-buttons slot="end">
            <ion-button style="width: 85px;">
                <ion-badge id="notifications-badge" color="primary">25</ion-badge>
                <ion-icon name="notifications"></ion-icon>
            </ion-button>
            <ion-button id="notification-button1" (click)="openProfile()">
                <ion-avatar id="notification-button1">
                    <img [src]="userApp.photoURL">
                </ion-avatar>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
    <div class="container1">
        <div *ngIf=" userApp.manager == true ; else delegate">
            <ion-list>
                <ion-item-sliding *ngFor="let project of projectsApp; let i = index">
                    <ion-item class="container" color='dark' tappable (click)="projectRoute(project.id)">
                        <ion-icon slot="start" name="clipboard"></ion-icon>
                        <ion-icon slot="end" name="arrow-forward"></ion-icon>
                        <ion-label class="container">
                            <h2 style="white-space: pre-wrap; text-align: start;">{{project.name}}</h2>
                            <p style="color: rgb(253, 220, 201); white-space: pre-wrap; text-align: start;">Cliente: {{ project.client }}</p>
                            <p>Fecha de inicio: {{project.startDate | date : "dd/MM/y"}}</p>
                            <p>Fecha de fin: {{project.endDate | date : "dd/MM/y"}}</p>
                        </ion-label>
                    </ion-item>
                    <ion-item-options>
                        <ion-button color="primary" icon-left (click)="editProject(project)">
                            <ion-icon slot="icon-only" name="create"></ion-icon>
                        </ion-button>
                        <ion-button color="danger" icon-left (click)="deleteProject(project.id)">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
            <ion-row style="height: 1mm"></ion-row>
            <button class="btnNewProject" expand="block" (click)="openNewProject()">Nuevo proyecto</button>
        </div>
    </div>
</ion-content>

<ng-template #delegate>
    <p>delegado</p>
    <ion-list>
        <ion-item-sliding *ngFor="let project of projectsApp; let i = index">
            <ion-item class="container" color='dark' tappable>
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
                <div class="align3">
                    <div class="align container3">
                        <ion-avatar id="notification-button1">
                            <img style="width:45px;height:45px;" [src]="userApp.photoURL">
                        </ion-avatar>
                        <h2>{{project.name}}</h2>
                    </div>

                    <ion-label class="container2">
                        <p>Fecha de inicio: {{allstartdates[i] | date : "dd/MM/y"}}</p>
                        <p>Fecha de fin: {{allenddates[i] | date : "dd/MM/y"}}</p>
                        <p>Actividad: {{ project.client }}</p>
                        <p>Proyecto: {{ project.client }}</p>
                        <p>%Avance: {{project.progress}} </p>
                    </ion-label>
                    <ion-input type="number" placeholder="Ingrese % de Avance"></ion-input>
                </div>
                <br>
            </ion-item>
            <ion-item-options>
                <ion-button color="primary" icon-left (click)="openEvidence(project.name)">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ng-template>