<ion-header traslucent>
    <ion-toolbar>
        <div class="box align">
            <ion-title>Amplia tu equipo</ion-title>
            <ion-buttons slot="end">
                <ion-button color="primary" (click)="onClose()">
                    <ion-icon name="close"></ion-icon>
                </ion-button>
            </ion-buttons>
        </div>
    </ion-toolbar>
</ion-header>
  
<ion-content padding color="secondary"> 
    <div class="container">
       <!--  <ion-list-header color="light">Selecciona a los usuarios</ion-list-header> -->
        <ion-list>
            <ion-item color="dark" button *ngFor="let item of members">
                <ion-avatar item-left="item-left">
                    <img style="width:45px;height:45px;" [src]="item.photoURL"></ion-avatar>
                <ion-label class="container1">
                    <h2>{{ item.displayName }}</h2>
                    <p>{{item.email}}</p>
                    <p>{{ item.employment }}</p>
                    <!-- <p>{{ item.phoneNumber }}</p> -->
                </ion-label>
                <ion-checkbox item-end="item-end" [(ngModel)]="item.check" (ionChange)="onChange(members)"></ion-checkbox>
            </ion-item>
        </ion-list>
        <ion-row style="height: 10mm"></ion-row>
        <button class="btnAddUser" expand="block" (click)="onSave()">Listo</button>
    </div>
</ion-content>