<ion-header>
    <ion-toolbar color="medium">
        <div class="box align">
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-title class="title">INGRESO</ion-title>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content color="secondary">
    <br>
    <div class="align2">
        <!-- <ion-list> -->
        <div color="secondary">
            <div class="bodyt" style="height: 200px;">
                <svg viewBox="0 0 800 600">
                        <symbol id="s-text">
                        <text text-anchor="middle"
                                x="35%"
                                y="40%"
                                class="text--line"
                                >
                            EPN
                        </text>
                        
                        <text text-anchor="middle"
                                x="50%"
                                y="73%"
                                class="text--line2"
                                >
                            GuGo
                        </text>
                        
                        </symbol>
                        
                        <g class="g-ants">
                        <use xlink:href="#s-text"
                            class="text-copy"></use>     
                        <use xlink:href="#s-text"
                            class="text-copy"></use>     
                        <use xlink:href="#s-text"
                            class="text-copy"></use>     
                        <use xlink:href="#s-text"
                            class="text-copy"></use>     
                        <use xlink:href="#s-text"
                            class="text-copy"></use>     
                        </g>
                    
                </svg>
            </div>
        </div>
        <!-- </div> -->
        <!-- </ion-list> -->
        <br>
        <br>
        <br>
        <!-- <div class="part1"> -->
    
    </div>

    <form (ngSubmit)="onLogin( f2 )" #f2="ngForm" class="part1">
        <!--  <div class="part1"> -->
             <div class="container">
                <ion-item lines="full" color="light">
                    <ion-label position="floating">Correo electrónico</ion-label>
                    <ion-input type="text" name="email" [(ngModel)]="userLogin.email" required></ion-input>
                    <ion-icon name="mail" slot="end"></ion-icon>
                </ion-item>
                <br>
                <ion-item lines="full" color="light">
                    <ion-label position="floating">Contraseña</ion-label>
                    <ion-input type="password" name="password" [(ngModel)]="userLogin.password" required></ion-input>
                    <ion-icon name="key" slot="end"></ion-icon>
                </ion-item>
                <br>
                <ion-row>
                    <ion-col>
                        <ion-button type="submit" expand="block">Listo</ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button color="warning" expand="block" (click)="register()">Obtener cuenta GuGo</ion-button>
                    </ion-col>
                </ion-row>
               
            </div>
       <!--   </div> -->
     </form>
    <!--  </div> -->
</ion-content>