<ion-header>
    <ion-toolbar color="medium">
        <div class="box align">
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-title class="title">INGRESO</ion-title>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content color="secondary">
    <br>
    <div class="align2">
        <div color="secondary">
            <div class="bodyt" style="height: 200px;">
                <svg viewBox="0 0 800 600">
                        <symbol id="s-text">
                        <text text-anchor="middle"
                                x="35%"
                                y="40%"
                                class="text--line"
                                >
                            EPN
                        </text>
                        
                        <text text-anchor="middle"
                                x="50%"
                                y="73%"
                                class="text--line2"
                                >
                            GuGo
                        </text>
                        
                        </symbol>
                        
                        <g class="g-ants">
                        <use xlink:href="#s-text"
                            class="text-copy"></use>     
                        <use xlink:href="#s-text"
                            class="text-copy"></use>     
                        <use xlink:href="#s-text"
                            class="text-copy"></use>     
                        <use xlink:href="#s-text"
                            class="text-copy"></use>     
                        <use xlink:href="#s-text"
                            class="text-copy"></use>     
                        </g>
                    
                </svg>
            </div>
        </div>
        <!-- </div> -->
        <!-- </ion-list> -->
        <br>
        <br>
        <br>
        <!-- <div class="part1"> -->
    </div>

    <form (ngSubmit)="onLogin()" [formGroup]="loginForm" class="part1">
        <!--  <div class="part1"> -->
        <div class="container" style="font-size: 13px">
            <ion-item lines="full" color="light">
                <ion-label position="floating">Correo electrónico</ion-label>
                <ion-input type="email" formControlName="email" placeholder="Ej. user@gmail.com" [(ngModel)]="userLogin.email" required></ion-input>
                <ion-icon name="mail" slot="end"></ion-icon>
            </ion-item>
            <br>
            <ion-item lines="full" color="light">
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password" formControlName="password" [type]="passwordType" [(ngModel)]="userLogin.password" required></ion-input>
                <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
            </ion-item>
            <br>
            <ion-row>
                <ion-col>
                    <ion-button type="submit" expand="block">Iniciar sesión</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button color="warning" expand="block" (click)="register()">Obtener cuenta GuGo</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <!-- <ion-button color="warning" expand="block" (click)="register()">Obtener cuenta GuGo</ion-button> -->
                    <h2>{{deferredPrompt}}</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button color="success" expand="block" *ngIf="showBtn" (click)="add_to_home($event)">Instalar GuGo-Mobile</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="text-align: center;">
                    <a style="text-decoration: underline; color: white;" (click)="openResetPassword()">¿Has olvidado tu contraseña?</a>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="text-align: center;">
                    <a style="text-decoration: underline; color: white;" (click)="contact()">Contactarme con soporte</a>
                </ion-col>
            </ion-row>

        </div>
        <!--   </div> -->
    </form>
    <!--  </div> -->
</ion-content>