* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bodyt {
    height: 300px;
}


/* $colors: #360745, #D61C59, #E7D84B, #EFEAC5, #1B8798; */

$colors: #1f6b79,
white,
rgb(231, 221, 129),
rgb(79, 116, 71),
rgb(88, 93, 94);
.bodyt {
    /* background: hsl(200,70,11); */
    background-size: .15em 100%;
    font: 15em/1 Arial;
}

.text--line {
    font-size: .35em;
}

.text--line2 {}

svg {
    position: absolute;
    width: 100%;
    /* height: 300px; */
    height: 40%;
    /* padding: 5px; */
    margin: 0 auto;
}

$max: 5;
$stroke-step: 7%;
.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
    stroke-width: 3px;
    animation: stroke-offset 5s alternate-reverse linear;
    @for $item from 1 through $max {
        $stroke-color: nth($colors, $item);
        &:nth-child(#{$item}) {
            stroke: $stroke-color;
            stroke-dashoffset: $stroke-step * $item;
        }
    }
}

@keyframes stroke-offset {
    50% {
        stroke-dashoffset: $stroke-step * $max;
        stroke-dasharray: 0 $stroke-step * $max*2.5;
    }
}

ion-header {
    background: #0C1B22;
}

.box {
    /* background: #082330; */
    background: #0C1B22;
    color: white;
    /* height: 100%; */
}

.align {
    display: flex;
    flex-direction: row;
}

.title {
    text-align: center;
    letter-spacing: 15px;
    font-size: 25px;
    font-weight: bold;
}

.align2 {
    display: flex;
    flex-direction: column;
    height: 250px;
    /* justify-content: space-between; */
    /*  height: 50%; */
}

.part1 {
    background: #082330;
    /* height: 360px; */
    /* position: fixed; */
    align-items: flex-end;
}


/* ion-item {
    height: 50%;
} */

.container {
    /* width: 80%;
    margin: 0 auto; */
    padding: 20px;
}

.singIn {
    background: #4a696d;
}

.singUn ion-button {
    background: black;
}