<ion-header>
    <ion-toolbar color="medium">
        <div class="box align">
            <ion-buttons slot="start">
                <ion-back-button defaultHref="login"></ion-back-button>
            </ion-buttons>
            <ion-title class="title">REGISTRO</ion-title>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content color="secondary">
    <form (ngSubmit)="onRegister( f )" #f="ngForm" class="container">
        <ion-item lines="full">
            <ion-label position="floating">Nombre Completo</ion-label>
            <ion-input type="text" name="name" [(ngModel)]="userRegister.displayName" minlength="2" required></ion-input>
            <ion-icon name="person" slot="end"></ion-icon>
        </ion-item>
        <div class="space">
            <p *ngIf="1==0" style="font-size: 8px; color: red;">holaa</p>
        </div>
        <ion-item lines="full">
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input type="text" name="email" [(ngModel)]="userRegister.email" required></ion-input>
            <ion-icon name="mail" slot="end"></ion-icon>
        </ion-item>
        <div class="space">
            <p *ngIf="1==0" style="font-size: 8px; color: red;">holaa</p>
        </div>
        <ion-item lines="full">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" name="password" [(ngModel)]="userRegister.password" minlength="6" required></ion-input>
            <ion-icon name="key" slot="end"></ion-icon>
        </ion-item>
        <div class="space">
            <p *ngIf="1==0" style="font-size: 8px; color: red;">holaa</p>
        </div>
        <ion-item lines="full">
            <ion-label position="floating">Confirmar contraseña</ion-label>
            <ion-input type="password" name="re-password" [(ngModel)]="password" minlength="6" required></ion-input>
            <ion-icon name="key" slot="end"></ion-icon>
        </ion-item>
        <div class="space">
            <p *ngIf="1==0" style="font-size: 8px; color: red;">holaa</p>
        </div>
        <ion-item lines="full">
            <ion-label position="floating">Número celular</ion-label>
            <ion-input type="text" name="phone" [(ngModel)]="userRegister.phoneNumber" required></ion-input>
            <ion-icon name="call" slot="end"></ion-icon>
        </ion-item>
        <div class="space">
            <p *ngIf="1==0" style="font-size: 8px; color: red;">holaa</p>
        </div>
        <ion-list>
            <ion-radio-group [(ngModel)]="userRegister.manager" name="manager" required>
                <ion-list-header>
                    <ion-label class="funtion">¿Qué función desempeña?</ion-label>
                </ion-list-header>

                <ion-item>
                    <ion-label>Gestor de proyectos</ion-label>
                    <ion-radio slot="start" value=true></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Delegado</ion-label>
                    <ion-radio slot="start" value=false></ion-radio>
                </ion-item>

            </ion-radio-group>
        </ion-list>
        <div class="space">
            <p *ngIf="1==0" style="font-size: 8px; color: red;">holaa</p>
        </div>
        <ion-item>
            <ion-label>Uso de la aplicación</ion-label>
            <ion-select value="selected" interface="action-sheet" cancelText="">
                <ion-select-option value="Personal">Personal</ion-select-option>
                <ion-select-option value="Empresa">Empresarial</ion-select-option>
            </ion-select>
        </ion-item>
        <div class="space">
            <p *ngIf="1==0" style="font-size: 8px; color: red;">holaa</p>
        </div>
        <ion-row>
            <ion-col>
                <ion-button type="submit" expand="block">Listo</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>