* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box {
    /* background: #082330; */
    background: #0C1B22;
    padding: 10px;
    color: white;
}

.align {
    display: flex;
    flex-direction: row;
}

.box ion-title {
    text-align: center;
    letter-spacing: 10px;
    font-size: 25px;
    font-weight: bold;
}

.container {
    padding: 20px;
}

.btnGuardar {
    background: rgb(212, 212, 212);
    color: black;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

ion-label {
    color: rgb(212, 212, 212);
}

ion-input {
    color: rgb(212, 212, 212);
}

ion-header ion-segment {
    --background: #082330;
}

* {
    .user_name {
        color: #afafaf;
    }
    .message {
        padding: 10px !important;
        transition: all 250ms ease-in-out !important;
        border-radius: 10px !important;
        margin-bottom: 4px !important;
    }
    .my_message {
        padding: 10px !important;
        transition: all 250ms ease-in-out !important;
        border-radius: 10px !important;
        margin-bottom: 4px !important;
        color: white !important;
    }
    ion-item {
        right: 0;
    }
    .line-breaker {
        white-space: pre-line;
        font-size: 14px;
    }
    .other_message {
        padding: 10px !important;
        // transition: all 250ms ease-in-out !important;
        border-radius: 10px !important;
        margin-bottom: 4px !important;
        /* background: white !important; */
        color: rgb(182, 141, 141) !important;
        // border-style: ridge;
        /* border-width: 0.5px; */
        width: 20px;
    }
    .left {
        left: 0;
    }
    .time {
        color: #afafaf;
        float: right;
        font-size: small;
    }
    .message_row {
        background-color: #fff;
    }
}

.box {
    /* background: #082330; */
    background: #0C1B22;
    padding: 10px;
    color: white;
}

.align {
    display: flex;
    flex-direction: row;
}

.msgRx p {
    color: white;
}

.msgTx p {
    color: #5c92b1;
    /*  color: #17b4b4; */
}

div#pwa {
    visibility: hidden;
}